body{font-size:12px;font-family:"trebuchet MS",color:#0000;margin:0px auto;width:1003px;background:#eeeeee;}
form,p,ul,li,h1,h2,h3{margin:0;padding:0;}
a{font-size:12px;color:#222;text-decoration:none;blr:expression(this.onFocus=this.blur());}
a:hover {color:#ff0000;}
img{border:0px;}

#Tb{margin:0px;padding:0px;}
#Tb h1 a{display:block;widht:1003;height:60px;background:url(./Images/logo.png) no-repeat;text-indent:-9999em;}
#Tb h2 a{display:block;widht:1003;height:60px;background:url(./Images/logo.png) no-repeat;text-indent:-9999em;}

#lm{background:#fff;margin-top:5px;padding:10px;}
#lm ul li{float:left;width:160px;height:42px;line-height:42px;overflow:hidden;white-space:nowrap;text-align:center;}
#lm ul li{font-weight:bold;}
#lm ul li a{font-weight:bold;}
#lm ul li a:hover{text-decoration:underline;}

#Dt{float:left;width:230px;height:450px;margin-top:5px;padding:10px;background:#fff;}
#Dt h2{font-size:13px;}
#Dt ul{list-style-type:none;}
#Dt li{padding-left:10px;width:200px;height:20px;line-height:22px;background:url(./Images/list.jpg) no-repeat;margin-left:5px;border-bottom:#ccc 1px dashed;overflow:hidden;text-overflow:ellipsis;}
#Dt li span{color:#666666;float:right;padding-right:3px;}

.m2-r{text-align:left;background-color:#eee;margin-top:5px;padding-left:5px;padding-right:5px;}
.m2-r{width:494px;float:right;overflow:hidden;}
.topnews {background-image:url(./Images/tt.gif);border-bottom:#ccc 1px solid;border-left:#ccc 1px solid;background-color:#fff;background-repeat:no-repeat;height:469px;border-top:#ccc 1px solid;border-right:#ccc 1px solid;}
.toutiao {border-bottom:#cccccc 1px dashed;padding-bottom:15px;margin-bottom:8px;height:100px;padding-top:5px;}
.toutiao h2{font-size:15px;text-align:left;padding-bottom:0px;padding-left:70px;padding-right:0px;padding-top:0px;text-align:center;}
.toutiao p{margin-top:6px;text-indent:10px;padding-left:30px;padding-right:20px;}
.toplist {padding-bottom:0px;margin:0px 5px;padding-left:5px;padding-right:5px;padding-top:0px;}
.toplist li{list-style-type:none;line-height:22px;background:#f5f5f5;padding:0 5px 0 5px;text-align:justify;text-justify:inter-ideograph;}
.toplist li.list{background:#ffffff;}

#Yd{float:right;width:229px;height:450px;margin-top:5px;padding:10px;background:#fff;}
#Yd h3{font-size:13px;}
#Yd ul{list-style-type:none;}
#Yd li{padding-left:10px;width:200px;height:20px;line-height:22px;background:url(./Images/list.jpg) no-repeat;border-bottom:#ccc 1px dashed;overflow:hidden;text-overflow:ellipsis;}
#Yd li span{color:#666666;float:right;padding-right:3px;}

#menu{float:left;width:678px;overflow:hidden;margin-top:5px;padding:10px;background:#fff;}
#menu h2{height:30px;line-height:30px;font-size:13px;}
#menu h2 a{font-size:13px;}
#menu h2 a:hover{text-decoration:underline;}
#menu ul{border:1px solid #dedede;padding:5px;overflow:hidden;}
#menu ul li{padding-left:10px;float:left;width:313px;height:1.7em;line-height:22px;background:url(./images/list.jpg) no-repeat;margin-right:10px;border-bottom:#ccc 1px dashed;overflow:hidden;}
#side{float:right;width:280px;overflow:hidden;margin-top:5px;padding:10px;background:#fff;}
#side h3{height:30px;line-height:30px;font-size:13px;text-align:center;}
#side ul{border:1px solid #dedede;padding:5px;overflow:hidden;}
#side ul span{color:#666666;float:right;padding-right:3px;}
#side ul li{padding-left:10px;width:260px;height:22px;line-height:23px;background:url(./images/list.jpg) no-repeat;border-bottom:#ccc 1px dashed;overflow:hidden;}
#page{float:left;display:inline;width:680px;height:26px;font-size:13px;margin-top:5px;}
#page a,#page .page_now{display:block;float:left;margin-right:4px;padding:2px 5px;height:20px;line-height:20px;border:1px solid #f30;color:#fff;font-weight:800;background:url(./images/page.png) repeat-x 0 0;}
#page a:hover{border:1px solid #03c;background-position:0 -30px;}
#page .page_now{border:1px solid #333;background-image:none;background:#666;}

#pic_tw{float:left;width:679px;overflow:hidden;margin-top:5px;padding:10px;background:#fff;}
#pic_tw h3{height:22px;line-height:22px;font-size:13px;text-align:center;}
#pic_tw ul{border:1px solid #dedede;padding:4px;overflow:hidden;}
#pic_tw ul li{float:left;padding-left:3px;width:163px;height:106px;text-align:justify;overflow:hidden;text-overflow:ellipsis;}
#pic_tw ul li a{color:#434343;}
#pic_tw ul li img{width:160px;height:85px;padding:1px 1px 1px 1px;border:1px solid #cfcfcf;}
#pic_wz{float:right;width:280px;overflow:hidden;margin-top:5px;padding:10px;background:#fff;}
#pic_wz h3{height:22px;line-height:22px;font-size:13px;text-align:center;}
#pic_wz ul{border:1px solid #dedede;padding:5px;overflow:hidden;}
#pic_wz ul li{padding-left:10px;width:258px;height:20px;line-height:20px;background:url(./images/list.jpg) no-repeat;border-bottom:#ccc 1px dashed;overflow:hidden;}
#pic_wz ul li span{color:#666666;float:right;padding-right:3px;}

#Wz{padding-left:5px;padding-top:8px;padding-bottom:8px;}

#Xw{float:left;width:983px;padding:10px;background:#fff;}
#Xw h1{font-size:13px;text-align:center;}
#Xw a{font-size:13px;}
#Xw p{font-size:13px;padding-left:5px;line-height:18px;overflow:hidden;text-overflow:ellipsis;}
#Xw_w{width:968px;height:30px;text-align:right;line-height:30px;font-size:13px;}

#Lj{float:left;width:983px;margin-top:5px;padding:10px;background:#fff;}
#Lj h3{font-size:13px;}
#Lj ul{list-style-type:none;}
#Lj li{margin-left:3px;float:left;width:116px;height:20px;line-height:22px;overflow:hidden;white-space:nowrap;text-align:center;}
#maps{float:left;width:980px;overflow:hidden;margin-top:5px;padding:10px;background:#fff;}
#maps h2{height:30px;line-height:30px;font-size:13px;}
#maps h2 a:hover{text-decoration:underline;}
#maps ul{border:1px solid #dedede;padding:5px;overflow:hidden;}
#maps ul li{padding-left:10px;float:left;width:222px;height:20px;line-height:20px;background:url(./images/list.jpg) no-repeat;margin-right:10px;border-bottom:#ccc 1px dashed;overflow:hidden;}
#Db{float:right;padding:8px;padding-right:10px;font-size:13px;}